<li class="list-group-item">
	<% if todo.completed? %>
		<%= link_to '<span class="glyphicon glyphicon glyphicon-ok"></span>'.html_safe, toggle_todo_path(todo), :class=>"toggle_icon" %>
		<span class="completed"><%= todo.title %></span>
	<% else %>
		<%= link_to '<span class="glyphicon glyphicon-unchecked"></span>'.html_safe, toggle_todo_path(todo), :class=>"toggle_icon" %>
		<%= todo.title %>
	<% end %>

	<%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, todo_path(todo), :method => :delete, :class=>"toggle_icon delete" %>
</li>